.services_detail_main{width:930px;height: auto;padding: 40px 20px 10px 20px;}


.services_detail_main h5{font-family: "微软雅黑";font-size: 24px;color: #6b6b6b;text-align: center;}
.services_detail_main span{display:block;font-family: "宋体";font-size: 14px;color: #333333;margin: 58px 0px 16px 0px;font-weight: bold;text-indent: 24px;}
.services_detail_main ul li{margin-bottom: 15px;text-indent: 24px;}
.services_detail_main ul li p{font-family: "宋体";font-size: 14px;color: #666666;line-height: 20px;}